<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/main.css">
  </head>
  <body>
   
    <%- include('nav.html') %>

      
    <div class="container">
        <br>
        <h4 class="text-center">채팅방</h4>

        <div class="container p-4 detail">

            <div class="row">
              <div class="col-3">
                <ul class="list-group chat-list">



                    <% for(let i=0;i< data.length;i++){ %>
                        <li class="list-group-item" data-id="<%=data[i]._id%>">
                            <h6>채팅방이름 : <%=data[i].title%></h6>
                            <h6 class="text-small">채팅방 날짜 : <%=data[i].date%></h6>
                        </li>
                    <% } %>

                 </ul>
               </div>
          
               <div class="col-9 p-0">
                 <div class="chat-room">
                    <ul class="list-group chat-content">
                     
                    </ul>
                  <div class="input-group">
                    <input class="form-control" id="chat-input">
                    <button class="btn btn-secondary" id="send">전송</button>
                  </div>
                </div>
              </div>
            </div>
          
          </div> 



    </div>




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>



      <script>
        let 지금누른채팅방id;
        var eventSource;

        $('.list-group-item').on('click',function(e){
          지금누른채팅방id = this.dataset.id;
          // 채팅방 비우고 ~
          $('.chat-content').html('');


          // eventSource에 뭐가 정의 되어있으면 실시간 소통을 닫아주삼
          if(eventSource!=undefined){
            eventSource.close();
          }

          eventSource = new EventSource('/message/' + 지금누른채팅방id);
          
          // 실시간 get요총
          eventSource.addEventListener('test',function(e){
            console.log(JSON.parse(e.data));
            
            
            // 채팅 추가
            JSON.parse(e.data).forEach(element => {
              $('.chat-content').append('<li><span class="chat-box">' +  
                element.content +'</span></li>')
            });
            
          })

          $(this).css('background-color', '#eee'); 
          })

        $('#send').on('click',function(e){

            let 채팅내용 = $('#chat-input').val();
            let 보낼거 = {
                content : 채팅내용,
                parent : 지금누른채팅방id 
            };
            $.post('/message', 보낼거).then((a)=>{
                console.log(a);
            });


        })

      </script>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>  </body>
</html>