<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous">
        <link rel="stylesheet" href="./public/main.css">
    </head>
    <body>

        <%- include('nav.html') %>

            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
            <script
                src="https://cdn.socket.io/4.6.0/socket.io.min.js"
                integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
                crossorigin="anonymous"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
                crossorigin="anonymous"></script>

            <div>채팅방</div>
            <input id="send-message" type="text">
            <div id="content"></div>
            <button id="send">서버에 메세지 보내기</button>
            <button id="room1-send">채팅방1에 메세지 보내기</button>
            <button id ="room1">채팅방1 입장</button>

            <script>
                var socket = io();
                
                
                $('#send').on('click', function (e) {
                    socket.emit('user-send', $('#send-message').val());
                })

                $('#room1-send').on('click',function(){
                    socket.emit('room1-send', $('#send-message').val());
                    
                })

                socket.on('broadcast', function(data){
                    $('#content').append('<div>'+ data +'</div>')
                })

                $('#room1').on('click',function(){
                    socket.emit('joinroom', '채팅방입장시켜줘');
                })

            </script>

        </body>
    </html>